# IMAP Hostinger
IMAP_HOST=imap.hostinger.com
IMAP_PORT=993
EMAIL_USER=contact@alpicois-laplagne.fr
EMAIL_PASS=Cpgb242873!+

# OpenAI API Key (pour le parsing IA des emails)
OPENAI_API_KEY=sk-votre-cle-openai

# SQLite
DB_PATH=../emails.db
